<h1>Add a new album</h1>

<form action="/albums" method="post">
    <label for="album_name">
        Album Name
        <input name="name" class="form-control" type="text">
    </label>
    <label for="album_name">
        Album Year
        <input name="year" class="form-control" type="text">
    </label>
    <label for="album_name">
        Album Genre
        <input name="genre" class="form-control" type="text">
    </label>
    <label for="album_name">
        Album Artist
        <input name="artist" class="form-control" type="text">
    </label>
    <button type="submit" class="btn">Go!</button>
</form>
