<h1>All Sales Vinyl</h1>

<h3>Available Records</h3>

<% if @albums.any? %>
<table style="width:100%">
    <tr>
        <th>Album Name</th>
        <th>Artist</th>
        <th>BUY</th>
    </tr>
    <% @albums.each do |album| %>
    <tr>
        <td><a href="/albums/<%= album.id %>"><%= album.name %></a></td>
        <td><a href="/albums/<%= album.id %>"><%= album.artist %></a></td>
        <td>
        </td>
    </tr>
    <% end %>
</table>
<% else %>
<p>There are currently no records to display.</p>
<% end %>

<a href="/albums/new">Add a new album</a>

<form action="/albums" method='post'>
        <label>
            Search
            <input name="search" type="text">
        </label>
    <button type="submit">Go!</button>
</form>
