<h1>Add a new book</h1>

<form action="/books" method="post">
    <label for="book_title">
        Book Title
    <input name="book_title" class="form-control" type="text">
    </label>
    <button type="submit" class="btn">Go!</button>
</form>
