<h3>Available Books</h3>

<% if @books.any? %>
<table style="width:100%">
    <tr>
        <th>Book Title</th>
    </tr>
    <% @books.each do |book| %>
    <tr>
        <td><a href="/books/<%= book.id %>"><%= book.title %></a></td>
        <td>
        </td>
    </tr>
    <% end %>
</table>
<% else %>
<p>There are currently no records to display.</p>
<% end %>

<a href="/books/new">Add a new book</a>

<form action="/books" method='post'>
        <label>
            Search
            <input name="search" type="text">
        </label>
    <button type="submit">Go!</button>
</form>

<a href="/patrons/new">Need a library card? Create your account here</a>
