<h1>Add a new patron</h1>

<form action="/patrons" method="post">
    <label>
        Patron Name
        <input name="patron_name" type="text">
    </label>
    <label>
        Contact Info
        <input name="patron_contact" type="text">
    </label>
    <button type="submit">Go!</button>
</form>
