
<h3>Patrons</h3>

<% if @patrons.any? %>
    <table style="width:100%">
        <tr>
            <th>Patron Name</th>
            <th>Contact Info</th>
        </tr>
    <% @patrons.each do |patron| %>
        <tr>
            <td><a href="/patrons/<%= patron.id %>"><%= patron.name %></a></td>
            <td><a href="/patrons/<%= patron.id %>"><%= patron.contact %></a></td>
            <td>
            </td>
        </tr>
        <% end %>
    </table>
<% else %>
<p>There are currently no patrons to display.</p>
<% end %>

<a href="/patrons/new">Add a new patron</a>
